
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myActivityLabel" translate="alotApp.activity.home.createOrEditLabel">Create or edit a Activity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.activity.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.activity.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.activity.fixedId" for="field_fixedId">Fixed Id</label>
            <input type="text" class="form-control" name="fixedId" id="field_fixedId"
                    ng-model="vm.activity.fixedId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.activity.deleted" for="field_deleted">Deleted</label>
            <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                    ng-model="vm.activity.deleted"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.activity.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.activity.description"
                     />
        </div>

        <div class="form-group">
            <label translate="alotApp.activity.activityPattern" for="field_activityPattern">Activity Pattern</label>
            <select class="form-control" id="field_activityPattern" name="activityPattern" ng-model="vm.activity.activityPattern" ng-options="activityPattern as activityPattern.id for activityPattern in vm.activitypatterns | orderBy:'id' track by activityPattern.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="alotApp.activity.producer" for="field_producer">Producer</label>
            <select class="form-control" id="field_producer" name="producer" ng-model="vm.activity.producer" ng-options="producer as producer.id for producer in vm.producers track by producer.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
