<div>
    <h2 translate="alotApp.personalAutoVehicle.home.title">Personal Auto Vehicles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="personal-auto-vehicle.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="alotApp.personalAutoVehicle.home.createLabel">
                        Create new Personal Auto Vehicle
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'alotApp.personalAutoVehicle.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="alotApp.personalAutoVehicle.fixedId">Fixed Id</span></th>
                    <th><span translate="alotApp.personalAutoVehicle.year">Year</span></th>
                    <th><span translate="alotApp.personalAutoVehicle.make">Make</span></th>
                    <th><span translate="alotApp.personalAutoVehicle.model">Model</span></th>
                    <th><span translate="alotApp.personalAutoVehicle.bodyStyle">Body Style</span></th>
                    <th><span translate="alotApp.personalAutoVehicle.symbols">Symbols</span></th>
                    <th><span translate="alotApp.personalAutoVehicle.policyDriver">Policy Driver</span></th>
                    <th><span translate="alotApp.personalAutoVehicle.productLine">Product Line</span></th>
                    <th><span translate="alotApp.personalAutoVehicle.garageLocation">Garage Location</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personalAutoVehicle in vm.personalAutoVehicles track by personalAutoVehicle.id">
                    <td><a ui-sref="personal-auto-vehicle-detail({id:personalAutoVehicle.id})">{{personalAutoVehicle.id}}</a></td>
                    <td>{{personalAutoVehicle.fixedId}}</td>
                    <td>{{personalAutoVehicle.year}}</td>
                    <td>{{personalAutoVehicle.make}}</td>
                    <td>{{personalAutoVehicle.model}}</td>
                    <td>{{personalAutoVehicle.bodyStyle}}</td>
                    <td>{{personalAutoVehicle.symbols}}</td>
                    <td>
                        <a ui-sref="policy-driver-detail({id:personalAutoVehicle.policyDriver.id})">{{personalAutoVehicle.policyDriver.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="product-line-detail({id:personalAutoVehicle.productLine.id})">{{personalAutoVehicle.productLine.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="address-detail({id:personalAutoVehicle.garageLocation.id})">{{personalAutoVehicle.garageLocation.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="personal-auto-vehicle-detail({id:personalAutoVehicle.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="personal-auto-vehicle.edit({id:personalAutoVehicle.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="personal-auto-vehicle.delete({id:personalAutoVehicle.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
