<div>
    <h2 translate="alotApp.coverageTermDef.home.title">Coverage Term Defs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="coverage-term-def.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="alotApp.coverageTermDef.home.createLabel">
                        Create new Coverage Term Def
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'alotApp.coverageTermDef.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="alotApp.coverageTermDef.description">Description</span></th>
                    <th><span translate="alotApp.coverageTermDef.beginEffectiveDate">Begin Effective Date</span></th>
                    <th><span translate="alotApp.coverageTermDef.endEffectiveDate">End Effective Date</span></th>
                    <th><span translate="alotApp.coverageTermDef.state">State</span></th>
                    <th><span translate="alotApp.coverageTermDef.coverageDef">Coverage Def</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="coverageTermDef in vm.coverageTermDefs track by coverageTermDef.id">
                    <td><a ui-sref="coverage-term-def-detail({id:coverageTermDef.id})">{{coverageTermDef.id}}</a></td>
                    <td>{{coverageTermDef.description}}</td>
                        <td>{{coverageTermDef.beginEffectiveDate | date:'mediumDate'}}</td>
                        <td>{{coverageTermDef.endEffectiveDate | date:'mediumDate'}}</td>
                    <td>{{coverageTermDef.state}}</td>
                    <td>
                        <a ui-sref="coverage-def-detail({id:coverageTermDef.coverageDef.id})">{{coverageTermDef.coverageDef.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="coverage-term-def-detail({id:coverageTermDef.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="coverage-term-def.edit({id:coverageTermDef.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="coverage-term-def.delete({id:coverageTermDef.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
