<div>
    <h2 translate="alotApp.addressBook.home.title">Address Books</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="address-book.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="alotApp.addressBook.home.createLabel">
                        Create new Address Book
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'alotApp.addressBook.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="alotApp.addressBook.fixedId">Fixed Id</span></th>
                    <th><span translate="alotApp.addressBook.deleted">Deleted</span></th>
                    <th><span translate="alotApp.addressBook.description">Description</span></th>
                    <th><span translate="alotApp.addressBook.producer">Producer</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="addressBook in vm.addressBooks track by addressBook.id">
                    <td><a ui-sref="address-book-detail({id:addressBook.id})">{{addressBook.id}}</a></td>
                    <td>{{addressBook.fixedId}}</td>
                    <td>{{addressBook.deleted}}</td>
                    <td>{{addressBook.description}}</td>
                    <td>
                        <a ui-sref="producer-detail({id:addressBook.producer.id})">{{addressBook.producer.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="address-book-detail({id:addressBook.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="address-book.edit({id:addressBook.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="address-book.delete({id:addressBook.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
