
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLeadLabel" translate="alotApp.lead.home.createOrEditLabel">Create or edit a Lead</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lead.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lead.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.lead.requestedTime" for="field_requestedTime">Requested Time</label>
                <div class="input-group">
                    <input id="field_requestedTime" type="text" class="form-control" name="requestedTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.lead.requestedTime" is-open="vm.datePickerOpenStatus.requestedTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('requestedTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.lead.responseTime" for="field_responseTime">Response Time</label>
                <div class="input-group">
                    <input id="field_responseTime" type="text" class="form-control" name="responseTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.lead.responseTime" is-open="vm.datePickerOpenStatus.responseTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('responseTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.lead.premimumAmount" for="field_premimumAmount">Premimum Amount</label>
            <input type="number" class="form-control" name="premimumAmount" id="field_premimumAmount"
                    ng-model="vm.lead.premimumAmount"
                     />
        </div>

        <div class="form-group">
            <label translate="alotApp.lead.job" for="field_job">Job</label>
            <select class="form-control" id="field_job" name="job" ng-model="vm.lead.job" ng-options="job as job.id for job in vm.jobs track by job.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="alotApp.lead.carrier" for="field_carrier">Carrier</label>
            <select class="form-control" id="field_carrier" name="carrier" ng-model="vm.lead.carrier" ng-options="carrier as carrier.id for carrier in vm.carriers | orderBy:'id' track by carrier.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
