<div>
    <h2 translate="alotApp.lead.home.title">Leads</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="lead.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="alotApp.lead.home.createLabel">
                        Create new Lead
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'alotApp.lead.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="alotApp.lead.requestedTime">Requested Time</span></th>
                    <th><span translate="alotApp.lead.responseTime">Response Time</span></th>
                    <th><span translate="alotApp.lead.premimumAmount">Premimum Amount</span></th>
                    <th><span translate="alotApp.lead.job">Job</span></th>
                    <th><span translate="alotApp.lead.carrier">Carrier</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lead in vm.leads track by lead.id">
                    <td><a ui-sref="lead-detail({id:lead.id})">{{lead.id}}</a></td>
                        <td>{{lead.requestedTime | date:'mediumDate'}}</td>
                        <td>{{lead.responseTime | date:'mediumDate'}}</td>
                    <td>{{lead.premimumAmount}}</td>
                    <td>
                        <a ui-sref="job-detail({id:lead.job.id})">{{lead.job.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="carrier-detail({id:lead.carrier.id})">{{lead.carrier.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="lead-detail({id:lead.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lead.edit({id:lead.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lead.delete({id:lead.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
