
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myViolationLabel" translate="alotApp.violation.home.createOrEditLabel">Create or edit a Violation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.violation.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.violation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.violation.externalViolationCode" for="field_externalViolationCode">External Violation Code</label>
            <input type="text" class="form-control" name="externalViolationCode" id="field_externalViolationCode"
                    ng-model="vm.violation.externalViolationCode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.violation.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.violation.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.violation.violationOccurredDate" for="field_violationOccurredDate">Violation Occurred Date</label>
                <div class="input-group">
                    <input id="field_violationOccurredDate" type="text" class="form-control" name="violationOccurredDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.violation.violationOccurredDate" is-open="vm.datePickerOpenStatus.violationOccurredDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('violationOccurredDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="alotApp.violation.additionalDetails" for="field_additionalDetails">Additional Details</label>
            <input type="text" class="form-control" name="additionalDetails" id="field_additionalDetails"
                    ng-model="vm.violation.additionalDetails"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
